@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --logo-font: 'Tourney', sans-serif;
    --title: "Signika Negative", sans-serif;
}

.container{
    background-image: url('../img/BG.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.login-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-window{
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

.login-box{
    align-items: center;
    justify-content: space-around !important;
    display: flex !important;
    margin-top: 0.5em;
    font-size: 1.5em;
}

.img-wrapper{
    width: 100%;
    justify-content: center;
    display: flex;
}

.logo{
    text-align: center;
    font-family: var(--logo-font);
    font-size: 3em;
    color: #ffd429;
    text-align: center;
    width: auto;
}

.title{
    font-family: var(--title);
    padding-left: 0.5em;
}