@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --logo-font: 'Tourney', sans-serif;
}

body{
    background-image: url('../img/BG.jpg');
    background-size: cover;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.login-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-window{
    display: flex;
    width: 20%;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

.login-box{
    background-color: rgba(255, 255, 255, 0.608);
    border-radius: 4em;
    width: 100%;
}

.img-wrapper{
    width: 100%;
    justify-content: center;
    display: flex;
}

.logo{
    text-align: center;
    font-family: var(--logo-font);
    font-size: 3em;
    color: #ffd429;
}